<div class="container">
  	<div class="row">
  	<%= render 'sidebar' %>
  	<div class= "col-sm-10">

  	<div class="col-sm-6">
  		<h3>List of events <%= link_to "New", new_event_path, :class => "btn btn-sm btn-info" %></h3>
    <div class="list-group">
  		<% @events.each do |e| %>
  		<%= link_to e.title, event_path(e), :class => "list-group-item" %>
  		<% end %>
      </div>
  	</div>
  	<div class="col-sm-6">

<div id="calendar"></div>

<script type="text/javascript">
  $(document).ready(function(){
$('#calendar').fullCalendar({
    events: '/events.json'

});
});

</script></div></div>
</div>